<?xml version="1.0"?>
<launch>
  <arg name="point_cloud_topic" default="/camera/depth/points" />
  
  <node name="box_detection" pkg="tedusar_box_detection" type="box_detection" output="screen">
    <!--
      Parameters:
      point_cloud_topic
        Name of PointCloud2 topic from Kinect, Xtion or similar device.
      target_frame_id
        TF frame point cloud is transformed into. Detected boxes' poses will be
        in this frame.
      have_action_server_debug_output
        Enable debug output of BoxDetection action server.
      have_box_detection_debug_output
        Enable debug output of box detection algorithm.

      box_plane_points_min
        Minimum number of points a detected plane must have to be considered for
        box detection.
      box_plane_size_min,
      box_plane_size_max
        Minimum and maximum size (length width height) of a detected plane to be
        considered the top plane of a box. Note that the values must be in
        decreasing order (greatest value followed by medium value followed by
        smallest value), and that the height is the height of the plane, *not*
        the height of the box (because we are only detecting planes consisting
        of points in 3-D space, and these points can have considerable Z-axis
        deviation from the ideal plane).
      detection_timeout
        Maximum time to look for boxes in the point cloud.
      plane_fitting_distance_threshold
        Maximum distance of points to plane to be considered part of the plane.
      plane_fitting_max_iterations
        Maximum number of iterations to allow RANSAC algorithm to find better
        plane coefficients.
      downsampling_leaf_size
        Grid size of downsampling algorithm.
      clusterization_tolerance
        Maximum distance between points to consider them contiguous.

      have_plane_publisher
        Enable publishing colored point clouds for the detected plane clusters
        (helpful for debugging).
      plane_publishing_rate
        Frequency for publishing planes (s.a.).

      have_collision_object_publisher
        Enable publishing MoveIt collision objects into the planning scene for
        detected boxes.
      collision_objects_basename
        Name of the collision objects will be basename + increasing id (e.g.,
        "box2" if basename is "box").

      have_visualization_marker_publisher
        Enable publishing rviz visualization markers for detected boxes (helpful
        for debugging).
      visualization_marker_namespace
        Namespace of rviz visualization markers (should be different from other
        visualization markers' namespaces; see rviz documentation for details).
    -->
    <param name="point_cloud_topic" value="$(arg point_cloud_topic)" />
    <param name="box_plane_points_min" value="800" />
    <param name="box_plane_size_min" value="0.55 0.1 0.0" />
    <param name="box_plane_size_max" value="0.65 0.13 0.035" />
    <param name="plane_fitting_distance_threshold" value="0.01" />
    <param name="plane_fitting_max_iterations" value="100" />
    <param name="clusterization_tolerance" value="0.02" />
  </node>
</launch>

